@model SampleMVCProject.Models.ForgotPassword
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container-fluid mt-5" style="height: 70vh;">
    <div class="row align-items-center pt-xl-5">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="~/ImageUpload/PageImages/forgot_password.svg" alt="Register" class="img-fluid" style="max-height: 100%; width: 75vh;" />
        </div>
        <div class="col-md-4">
            <div class="p-4">
                <form method="post" asp-action="ForgotPassword" >
                    <div class="mb-3">
                        <label for="Username" class="form-label">Username or Email</label>
                        <input type="text" class="form-control" id="Username" name="Username" placeholder="Enter your username or email" required />
                        <div class="text-danger" asp-validation-for="Username"></div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
                </form>
                <div class="mt-3 text-center">
                    <a href="/Home/EmployeeLogin">Back to Login</a>
                </div>
            </div>
        </div>
</div>
